#root {
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  /*text-align: center;*/
  background-color: #e0e0e0;
}

.auth_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}


.App{
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*height: 100vh;*/
}
